---
title: Carloop
---

<div class="page page2 ">
  <div class="page-block" id="page_block_header">
    <div class="color-overlay"></div>
    <div class="border-holder">
      <div class="block-inner">
        <div class="page-element widget-container page-element-type-image widget-image " id="element-47">

          <div class="contents">
            <img src="<%= image_path("cell-phone-signal.png") %>" style="height: 100%; width: 100%; margin-top: 0px;" alt="">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-87">
          <div class="contents" style="color: #000000;"><p draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" style=" ">We promise not to share your e-mail.</p></div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-64">
          <div class="contents" style="color: #000000;"><p draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" style=" "><font color="#333333">Introducing Carloop - a 100% open source kit that lets you connect your car to the Internet, track it with GPS, log data on an SD Card and write your own applications for it. &nbsp;Plug and play, no cables required.</font></p>
            <p><%= link_to "See what others are building on the community forum", data.project.community_url, class: "link", target: "_blank" %></p>
            
          </div>
        </div>
        <a href="<%= data.project.store_url %>" class="btn dynamic-btn buy-button" style="color: #fff">Buy a pre-production unit</a>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-84">
          <div class="contents" style="color: #000000;"><p draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" style=" ">Carloop is still under development. &nbsp;Sign up below to find out when you can get a Carloop at a discounted price.</p></div>
        </div>

        <div class="page-element widget-container page-element-type-form widget-form " id="element-48">
          <style type="text/css">
            #element-48 .submit-button
            {
              background-color: #0066cc;

              color: #ffffff;


            }

            #element-48 .submit-button:active
            {
            }

            #element-48 .field-checkbox .field-element input[type=checkbox]:checked + label:before
            {
              background-color: #0066cc;
              border-color: #0066cc;
            }

            #element-48 .field-radio .field-element label:after
            {
              border-color: #0066cc;
            }

            #element-48 .input-holder label
            {
              color: #000000;
            }

            #element-48 ::-webkit-input-placeholder
            { /* WebKit browsers */
            color: #000000	}

            #element-48 :-moz-placeholder
            { /* Mozilla Firefox 4 to 18 */
              color: #000000;
            }

            #element-48 ::-moz-placeholder
            { /* Mozilla Firefox 19+ */
              color: #000000;
            }

            #element-48 :-ms-input-placeholder
            { /* Internet Explorer 10+ */
              color: #000000;
            }

            #element-48 label.error
            {
              color: #C00;
            }

            #element-48 input[type="text"],
            #element-48 input[type="password"],
            #element-48 input[type="email"],
            #element-48 textarea
            {
              color: #000000;
              background-color: #ffffff;
              border-color: #555555;
            }

            #element-48 input::-webkit-input-placeholder
            {
              color: #000000;
            }

            #element-48 input:-moz-placeholder
            {
              color: #000000;
              opacity: 1;
            }

            #element-48 input::-moz-placeholder
            {
              color: #000000;
              opacity: 1;
            }

            #element-48 input:-ms-input-placeholder
            {
              color: #000000;
            }

            #element-48 select
            {
            color: #000000		}

            #element-48 select option
            {
              background-color: #ffffff;
            }

            #element-48 select
            {
              border-color: #555555;
              background-color: #ffffff;
            }

            #element-48 .dynamic-button:hover
            {
              background-color: #0066cc;
            }

            #element-48 .submit-holder
            {
              position: relative;
            }

            #element-48 .dynamic-button, #element-48 .image-button
            {
              position: absolute;
              margin: 0;

              top: 63px;
              left: 1px;
              width: 368px;
              height: 52px;
              box-sizing: content-box;
              line-height: 21px;
              font-size: 18px;
              font-weight: normal;
            }

            @media
            screen and ( max-width: 620px ),
            screen and ( max-width: 999px ) and ( -webkit-min-device-pixel-ratio: 1.5 ) and ( max-device-width: 1280px ) and ( max-device-height: 720px ),
            screen and ( max-width: 999px ) and ( -webkit-min-device-pixel-ratio: 1.5 ) and ( max-device-width: 1000px )
            {
              body:not( .tablet ) #element-48 .dynamic-button, body:not( .tablet ) #element-48 .image-button
              {
                position: absolute;
                /* 742*/
                top: 97px;
                left: 0.5px;
                width: 298px;
                height: 56px;
                line-height: 22px;
                font-size: 18px;
              }
            }


          </style>

          <script id="form-error-box" type="text/x-jquery-tmpl">
            <div id="email-form-messagebox-wrapper-${id}" class="email-form-messagebox-wrapper" style="top: ${top}; left: ${left}">
            <div class="email-form-messagebox-header"></div>
            <div class="email-form-messagebox"></div>
            </div>
          </script>

          <div class="widget-container widget-form">
            <div class="contents">
              <form method="post" action="//munirent.us6.list-manage.com/subscribe/post?u=f6e88d8cdb1414e2ebe3aeda6&id=9b8bf3556e" class="email-form" data="instapage-form" data-wid="48" novalidate="novalidate" target="_blank">


                <div class="input-holder field-text">


                  <div class="field-element ">
                    <input id="93fd321bc861acc6366135b38eebb3de-0" type="email" name="EMAIL" value="" placeholder="Email" data-label-inside="Email" class="shortnice form-input required  ">
                  </div>
                </div>




                <button class="btn submit-button button_submit dynamic-button corners  " name="subscribe" value="Subscribe">Let me know!</button>
              </form>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-1">

          <div class="contents">
            <img src="<%= image_path("fiesta-with-clouds.jpeg") %>" style="height: 100%; width: 100%; margin-top: ;" alt="">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-headline widget-headline " id="element-5">

          <div class="contents" style="color: #000000;"><h1><p draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" style=" "><font color="#4e4b48">Carloop</font></p></h1></div>
        </div>

        <div class="page-element widget-container page-element-type-box widget-box " id="element-73">

          <div class="box" style="width: 100%; height: 100%; background-color: #e0f6fd; border-radius: 0px 0px 0px 0px; opacity: 1; filter:alpha(opacity=100); background-repeat: repeat; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-position: top left;"></div>
        </div>

        <div class="page-element widget-container page-element-type-headline widget-headline " id="element-6">

          <div class="contents" style="color: #000000;"><h1><p style="text-align: center;  " draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();"><font color="#4e4b48">Build your own connected car application</font></p></h1></div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-52">
          <div class="contents" style="color: #000000;"><p draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" style=" ">Launching July 2016</p></div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-24">
          <div class="contents" style="color: #000000;"><p style="text-align: right;  " draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();"><%= link_to "Community forum", data.project.community_url, class: "link", target: "_blank" %></p></div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-130">

          <div class="contents">
            <img src="<%= image_path("carloop-layout.png") %>" style="height: 100%; width: 100%; margin-top: 0px;" alt="backside_of_Carloop.png">

          </div>
        </div>

        <div><div id="email-form-messagebox-wrapper-48" class="email-form-messagebox-wrapper" style="top: 853px; left: 606px">   <div class="email-form-messagebox-header"></div>   <div class="email-form-messagebox"></div>  </div></div></div>
    </div>
  </div>
  <div class="page-block" id="page_block_below_fold">
    <div class="color-overlay"></div>
    <div class="border-holder">
      <div class="block-inner">
        <div class="page-element widget-container page-element-type-image widget-image " id="element-7">

          <div class="contents">
            <img src="<%= image_path("carloop-render.png") %>" style="height: 100%; width: 100%; margin-top: ;" alt="">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-20">

          <div class="contents">
            <img src="<%= image_path("arrow.png") %>" style="height: 100%; width: 100%; margin-top: 0px;" alt="">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-8">

          <div class="contents">
            <img src="<%= image_path("particle-devices.png") %>" style="height: 100%; width: 100%; margin-top: ;" alt="">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-15">
          <div class="contents" style="color: #000000;"><p draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" style=" ">Carloop works with every car and it's designed for both beginners and experts alike. &nbsp;<%= link_to "Visit the community to get help getting started.", data.project.community_url, class: "link", target: "_blank" %> We also have demo code on <%= link_to 'our GitHub repository.', 'https://github.com/carloop', class: "link" ,target: "_blank" %></p></div>
        </div>

        <div class="page-element widget-container page-element-type-line-horizontal widget-line-horizontal " id="element-10">
          <div class="line-horizontal" style="width: auto; height: 10px; border-bottom: 1px solid #cccccc;"></div>

        </div>

        <div class="page-element widget-container page-element-type-image widget-image " id="element-60">

          <div class="contents">
            <img src="<%= image_path("particle-build.png") %>" style="height: 100%; width: 100%; margin-top: ;" alt="">

          </div>
        </div>

        <div class="page-element widget-container page-element-type-headline widget-headline " id="element-11">

          <div class="contents" style="color: #000000;"><h1><p style="text-align: left;  " draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();"><font color="#4e4b48">We Do The Heavy Lifting</font></p></h1></div>
        </div>

        <div class="page-element widget-container page-element-type-headline widget-headline " id="element-16">

          <div class="contents" style="color: #000000;"><h1><p style="text-align: left;  " draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();">Built by makers for makers</p></h1></div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-12">
          <div class="contents" style="color: #000000;"><p draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" style=" "><font color="#333333">We make the adapter so you can focus on the fun part, making applications that read data from your car in realtime. &nbsp;Ready to connect your car to the cloud?</font></p><p>Learn more on our <%=link_to 'CrowdSupply Campaign', 'https://www.crowdsupply.com/carloop/carloop', class: "link", target: "_blank" %></p></div>
        </div>

        <div class="page-element widget-container page-element-type-circle widget-circle " id="element-19">

          <div class="circle" style="box-sizing: border-box;width: 100%; height: 100%; background-color: #ffffff; border: 2px solid #cccccc; opacity: 1; filter:alpha(opacity=100);"></div>
        </div>

        <div class="page-element widget-container page-element-type-headline widget-headline " id="element-14">

          <div class="contents" style="color: #000000;"><h1><p style="text-align: left;  " draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();"><font color="#4e4b48">Powered by Particle</font></p></h1></div>
        </div>

        <div class="page-element widget-container page-element-type-line-horizontal widget-line-horizontal " id="element-25">
          <div class="line-horizontal" style="width: auto; height: 10px; border-bottom: 1px solid #cccccc;"></div>

        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-13">
          <div class="contents" style="color: #000000;"><p draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" style=" "><font color="#333333">Carloop is built to work with Particle's Photon and Electron boards. &nbsp;We leverage Particle's powerful cloud infrastructure and community so you can get an application running in no time.</font></p></div>
        </div>

        <div class="page-element widget-container page-element-type-line-horizontal widget-line-horizontal " id="element-26">
          <div class="line-horizontal" style="width: auto; height: 10px; border-bottom: 1px solid #cccccc;"></div>

        </div>

      </div>
    </div>
  </div>
  <div class="page-block" id="page_block_footer">
    <div class="color-overlay"></div>
    <div class="border-holder">
      <div class="block-inner">
        <div class="page-element widget-container page-element-type-form widget-form " id="element-29">
          <style type="text/css">
            #element-29 .submit-button
            {
              background-color: #0066cc;

              color: #ffffff;


            }

            #element-29 .submit-button:active
            {
            }

            #element-29 .field-checkbox .field-element input[type=checkbox]:checked + label:before
            {
              background-color: #0066cc;
              border-color: #0066cc;
            }

            #element-29 .field-radio .field-element label:after
            {
              border-color: #0066cc;
            }

            #element-29 .input-holder label
            {
              color: #000000;
            }

            #element-29 ::-webkit-input-placeholder
            { /* WebKit browsers */
            color: #000000	}

            #element-29 :-moz-placeholder
            { /* Mozilla Firefox 4 to 18 */
              color: #000000;
            }

            #element-29 ::-moz-placeholder
            { /* Mozilla Firefox 19+ */
              color: #000000;
            }

            #element-29 :-ms-input-placeholder
            { /* Internet Explorer 10+ */
              color: #000000;
            }

            #element-29 label.error
            {
              color: #C00;
            }

            #element-29 input[type="text"],
            #element-29 input[type="password"],
            #element-29 input[type="email"],
            #element-29 textarea
            {
              color: #000000;
              background-color: #ffffff;
              border-color: #555555;
            }

            #element-29 input::-webkit-input-placeholder
            {
              color: #000000;
            }

            #element-29 input:-moz-placeholder
            {
              color: #000000;
              opacity: 1;
            }

            #element-29 input::-moz-placeholder
            {
              color: #000000;
              opacity: 1;
            }

            #element-29 input:-ms-input-placeholder
            {
              color: #000000;
            }

            #element-29 select
            {
            color: #000000		}

            #element-29 select option
            {
              background-color: #ffffff;
            }

            #element-29 select
            {
              border-color: #555555;
              background-color: #ffffff;
            }

            #element-29 .dynamic-button:hover
            {
              background-color: #0066cc;
            }

            #element-29 .submit-holder
            {
              position: relative;
            }

            #element-29 .dynamic-button, #element-29 .image-button
            {
              position: absolute;
              margin: 0;

              top: 66px;
              left: 0.5px;
              width: 298px;
              height: 52px;
              box-sizing: content-box;
              line-height: 21px;
              font-size: 18px;
              font-weight: normal;
            }

            @media
            screen and ( max-width: 620px ),
            screen and ( max-width: 999px ) and ( -webkit-min-device-pixel-ratio: 1.5 ) and ( max-device-width: 1280px ) and ( max-device-height: 720px ),
            screen and ( max-width: 999px ) and ( -webkit-min-device-pixel-ratio: 1.5 ) and ( max-device-width: 1000px )
            {
              body:not( .tablet ) #element-29 .dynamic-button, body:not( .tablet ) #element-29 .image-button
              {
                position: absolute;
                /* -186*/
                top: 94px;
                left: 1px;
                width: 297px;
                height: 85px;
                line-height: 34px;
                font-size: 18px;
              }
            }


          </style>

          <script id="form-error-box" type="text/x-jquery-tmpl">
            <div id="email-form-messagebox-wrapper-${id}" class="email-form-messagebox-wrapper" style="top: ${top}; left: ${left}">
            <div class="email-form-messagebox-header"></div>
            <div class="email-form-messagebox"></div>
            </div>
          </script>

          <div class="widget-container widget-form">
            <div class="contents">
              <form method="post" action="//munirent.us6.list-manage.com/subscribe/post?u=f6e88d8cdb1414e2ebe3aeda6&id=9b8bf3556e" class="email-form" data="instapage-form" data-wid="29" novalidate="novalidate" target="_blank">

                <div class="input-holder field-text">


                  <div class="field-element ">
                    <input id="0965932ce213d5858af78ca5e5217c21-0" type="email" name="EMAIL" value="" placeholder="Email" data-label-inside="Email" class="shortnice form-input required  ">
                  </div>
                </div>




                <button class="btn submit-button button_submit dynamic-button  corners  " name="subscribe" value="Subscribe">I'm pumped!</button>

              </form>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>

        <div class="page-element widget-container page-element-type-headline widget-headline " id="element-17">

          <div class="contents" style="color: #000000;"><h1><p style="text-align: center;  " draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();">Be the first one to know when Carloop is&nbsp;available</p></h1></div>
        </div>

        <div class="page-element widget-container page-element-type-text widget-text " id="element-18">
          <div class="contents" style="color: #000000;"><p style="text-align: center;  " draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect=&#39;none&#39;; event.stopPropagation(); event.preventDefault();"><font color="#5d5d5d">© 2016 1000 Tools, Inc. &nbsp;All Rights Reserved. Cell Phone Signal by Sagar Shastry from the Noun Project</font></p></div>
        </div>

        <div><div id="email-form-messagebox-wrapper-29" class="email-form-messagebox-wrapper" style="top: 127px; left: 647px">   <div class="email-form-messagebox-header"></div>   <div class="email-form-messagebox"></div>  </div></div></div>
    </div>
  </div>
</div>


<div id="fb-root"></div>

